<!-- Card -->
<div class="card card-bleed shadow-light-lg mb-6" style="
background-color: #37466b;
">
    <div class="card-header"
    
    >
    <!-- style="margin: 0 auto;" -->
        <div class="row ">
            <div class="col-12">
  
              <!-- Badges -->
              <nav class="nav ">
                <div
                  *ngFor="let div of divs"
                  class="badge badge-pill badge-white-soft mr-1 mb-1"
                  [class.active]="div.status"
                >
                  <span class="h6 text-uppercase" *ngIf="div.id == 0">{{div.name}}</span>
                  <span class="h6 text-uppercase" *ngIf="div.id != 0">{{div.id}}. {{div.name}}</span>
                </div>
              </nav>
            </div>
          </div>
          <!-- / .row -->

    </div>
</div>



<!-- Card -->
<div *ngIf="divs[0].status" class="card card-bleed shadow-light-lg mb-6">
    
    <div class="card-body">

        <!-- Form -->
        <form>
            <div class="row bottom-line">
                <div class="col-12 col-md-4">

                    <!-- Loan Amount -->
                    <div class="form-group">
                        <label for="email">Loan Amount</label>
                        <input class="form-control" id="name" type="text" placeholder="">
                    </div>

                </div>
                <div class="col-12 col-md-4">

                    <!-- Tenor -->
                    <div class="form-group">
                        <label for="email">Tenor </label>
                        <input class="form-control" id="email" type="text" placeholder="">
                    </div>

                </div>
                <div class="col-12 col-md-4">

                    <!-- Interest Rate -->
                    <div class="form-group">
                        <label for="email">Interest Rate</label>
                        <input class="form-control" id="email" type="number" placeholder="Tenor" value="10">
                    </div>

                </div>
                <div class="col-12 col-md-auto">

                    <!-- Button -->
                    <button (click)="searchLoan()" class="btn btn-block btn-primary" type="submit">
                        Search<i class="fe fe-search d-none d-md-inline ml-3"></i>
                    </button>

                </div>
            </div>
        </form>

        <div *ngIf="loanResultDiv">
            <div 
                *ngFor="let loanOption of loanOptionsResult; let i=index"
                [class.active]="loanOption.selected"
                class="row loan-product-row no-gutters bottom-line form-top-margin hover"
            >
                <div class="col-12">
                
                <!-- Badge -->
                <span class="badge badge-pill badge-green badge-float badge-float-outside">
                    <span class="h6 text-uppercase"><i class="fe fe-check"></i></span>
                </span>
        
                </div>
                <!-- <a class="col-12 col-md-6 bg-cover card-img-left" style="background-image: url({{loanOption.image_url}});"> -->
                <div class="col-12 col-md-6 bg-cover card-img-left">
                    <!-- Image (placeholder) -->
                    <img src="{{loanOption.image_url}}" alt="..." class="img-fluid ">
                </div>
                
        
                <!-- </a> -->
                <div class="col-12 col-md-6">
        
                <!-- Body -->
                <a class="card-body" style="padding: 0px 20px;">
        
                    <!-- Heading -->
                    <h3 style="font-weight: 800 !important; color: #335eea;">
                    {{loanOption.providerName}}
                    <span class="rating" style="font-size: 1.0rem;">
                        <ngb-rating [rate]="loanOption.rating"></ngb-rating>
                    </span>
                    </h3>
        
                    <!-- Text -->
                    <p class="mb-0 text-muted" style="font-size: 0.9625rem;">
                        {{loanOption.productOverview}}
                    </p>

                    <!-- Text -->
                    <!-- <p class="mb-0 text-muted"> -->
                        <div class="progress" style="height: 0.6rem; margin-top: 9px;">
                            <div class="progress-bar" role="progressbar" style="width: {{loanOption.matchingPercentage}}%" aria-valuenow="{{loanOption.matchingPercentage}}" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        
                    <!-- </p> -->
        
                </a>
        
                <!-- Meta -->
                <a class="card-meta">
        
                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ml-auto">
                    <button (click)="selectLoanOption(i)" [class.active]="loanOption.selected" class="btn btn-outline-primary btn-sm">Select</button>
                    </p>
        
                </a>
        
                </div>
        
            </div>
        </div>
        

        <div class="row form-top-margin">
            <div class="col-12 col-md-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Tinokunda and LendPesa may use my personal details for a credit bureau enquiry<span style="color: red;">*</span>
                      </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Tinokunda and or its partners may contact me for marketing and promotioms purposes<span style="color: red;">*</span>
                      </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        I accept the <a href="#">terms of use</a><span style="color: red;">*</span>
                      </label>
                </div>
            </div>
            <div class="col-12 col-md-auto">

                <!-- Button -->
                <button (click)="applyForLoan(divs[0].id)" class="btn btn-xs btn-block btn-primary mt-5 mt-md-0">
                    Apply
                  </button>

            </div>
        </div>

    </div>
</div>
<!-- </div> -->


<!-- Card -->
<div *ngIf="divs[1].status" class="card card-bleed shadow-light-lg mb-6">
   
    <div class="card-body">

        <!-- Form -->
        <form>
            <div class="row bottom-line">
                <div class="col-12 col-md-6">

                    <!-- Company Name -->
                    <div class="form-group">
                        <input class="form-control" id="name" type="text" placeholder="Company Name">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Business Type -->
                    <div class="form-group">
                        <input class="form-control" id="email" type="text" placeholder="Business Type">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- industry -->
                    <div class="form-group">
                        <select class="form-control">
                            <option>Industry</option>
                            <option>Manufacturing</option>
                            <option>Technology</option>
                            <option>Health</option>
                        </select>
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Annual Revenue Band -->
                    <div class="form-group">
                        <input class="form-control" id="rev" type="text" placeholder="Annual Revenue Band">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Contact Full name -->
                    <div class="form-group">
                        <input class="form-control" id="contactname" type="text" placeholder="Contact Full name">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Contact Phone -->
                    <div class="form-group">
                        <input class="form-control" id="phone" type="text" placeholder="Contact Phone">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- Contact Position -->
                    <div class="form-group">
                        <input class="form-control" id="position" type="text" placeholder="Contact Position">
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- industry -->
                    <div class="form-group">
                        <select class="form-control">
                            <option>Identification Type</option>
                            <option>Drivers License</option>
                            <option>International Passport</option>
                            <option>Other ID</option>
                        </select>
                    </div>

                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Date of Birth" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="fe fe-calendar"></span></button>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-12 col-md-6">

                    <!-- ID Number -->
                    <div class="form-group">
                        <input class="form-control" id="idnumber" type="text" placeholder="ID Number">
                    </div>

                </div>

            </div>
            <div class="row form-top-margin bottom-line">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary-soft">Proof of Identity</button>
                    </div>
                </div>
                <div class="col-12 col-md-4 custom-file">
                    <div class="form-group">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Upload</label>
                    </div>

                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Expiry Date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="fe fe-calendar"></span></button>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary-soft">Proof of Address</button>
                    </div>
                </div>
                <div class="col-12 col-md-4 custom-file">
                    <div class="form-group">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Upload</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Expiry Date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="fe fe-calendar"></span></button>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <button type="button" class="btn btn-secondary-soft btn-block button-width btn-adjust">3 months Bank Statement</button>
                    </div>
                </div>
                <div class="col-12 col-md-4 custom-file">
                    <div class="form-group">
                        <input type="file" class="custom-file-input" id="validatedCustomFile" required>
                        <label class="custom-file-label" for="validatedCustomFile">Upload</label>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Expiry Date" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><span class="fe fe-calendar"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-top-margin">
                <div class="col-12 col-md-3 ">

                    <!-- Button -->
                    <p>
                        <button (click)="prev(divs[1].id)" style="width: 150px;" class="btn btn-block btn-primary" type="submit">
                            Previous Step
                          </button>
                    </p>


                </div>
                <div class="col-12 col-md-3 offset-md-6">

                    <!-- Button -->
                    <button (click)="businessDetailsSubmit(divs[1].id)" style="width: 150px;" class="btn btn-block btn-primary" type="submit">
                      Submit 
                    </button>

                </div>
            </div>
        </form>


    </div>
</div>

<!-- Card -->
<div *ngIf="divs[2].status" class="card card-bleed shadow-light-lg mb-6">
    <div class="card-header">

        <!-- Heading -->
        <h1 class="mb-0">
            Confirmation
        </h1>

    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-12 col-md-12">
                <!-- Text -->
                <p class="font-size-lg text-gray-800 mb-6">
                    Dear Oluwafemi,
                </p>

                <!-- Divider -->
                <!-- <hr class="my-6 my-md-8"> -->

                <!-- Text -->
                <p class="font-size-lg text-gray-800 mb-6">
                    We have received your loan application and we will update you on the progress as soon as possible.
                </p>

                <!-- Text -->
                <p class="font-size-lg text-gray-800 mb-6">
                    Thank you for applying. Reference Number: 74847694. 
                </p>

                <!-- Text -->
                <p class="font-size-lg text-gray-800 mb-6">
                    Please use this reference no: 74847694 to communicate with LendPesa (Call @: 086 999 0676). 
                </p>

                <!-- Text -->
                <p class="font-size-lg text-gray-800 mb-6">
                    Please click on the complete button. 
                </p>

            </div>
            <div class="col-12 col-md-3 ">

                <!-- Button -->
                <p>
                    <button style="width: 150px;" class="btn btn-block btn-primary" type="submit">
                        Complete
                      </button>
                </p>


            </div>
            
          </div> <!-- / .row -->
    </div>
</div>
<!-- </div> -->
